<script type="text/javascript">
window.onload = function() {
  document.getElementById('lb').focus();
}
</script>

<header class="ink-container ink-for-l">
    <div class="ink-vspace dheader imgcenter">
        <img src="/assets/pedo_mellon.png"/>
    </div>
</header>

<div class="ink-container ink-vspace">
<div id="loginform" class="ink-l100 group">
<%= form_tag sessions_path do %>  
    <%= label_tag :name %><br />  
    <%= text_field_tag :name, params[:name] %>  <br />  
    <%= label_tag :password %><br />  
    <%= password_field_tag :password %> <br />   
	<%= submit_tag "Login", :id => "lb" %>
<% end %>  
</div>
</div>

        <footer>
            <div class="ink-container">
                <p class="copyright">
                    All stuff reverved.<br/>
                    Stuff is a trademark created at the Stuff that makes Stuff<br/>
                    <%= link_to "Demo", food_tracks_path(demo_mode: 1) %>
                </p>
            </div>
        </footer>
