<h4>Поиск в большой базе</h4>

<%= form_tag('/dietdairy/show', :id=>'dd_form', :remote=>:true) do %>
      <%= search_field_tag('q', @q, :id=> 'dietdairy_qstr', :placeholder => 'Поиск продукта') %>
<% end %>
<table class="dietdairy_table">
  <tr>
    <th class="left">Наименование</th>
    <th>Белки</th>
    <th>Жиры</th>
    <th>Углеводы</th>
    <th>Вода</th>
    <th>Калорийность</th>
    <th></th>
  </tr>
<% if @dd && !@dd.empty? %>
<% @dd.each do |dd| %>
<tr>
	<td><%=dd[1]%></td>
	<td><%=dd[2]%></td>
	<td><%=dd[3]%></td>
	<td><%=dd[4]%></td>
	<td><%=dd[5]%></td>
	<td><%=dd[6]%></td>
</tr>
<% end %>
<% end %>
</table>
<br/>
<footer>
Данные сайта <a href="http://dietadiary.com/">dietadiary.com</a>
</footer>
