<% unless @food_tracks.empty? %>
<div id="ft_totals">
    <div id="chart_div"><img src="<%=@chart_img%>"/></div>
    <table class="black">
        <tr>
            <td class="left kcals"><b>kcals:<b></td>
            <td class="kcals"><b><%= sprintf("%.2f", @food_tracks_total) %></b></td>

            <td class="left">fat:</td>
            <td><%= sprintf("%.2f", @ft_total_fat) %> g</td>
        </tr>
        <tr>
            <td class="left">from fat:</td>
            <td><%= sprintf("%.0f", @ft_total_fat*9) %></td>

            <td class="left">prot:</td>
            <td><%= sprintf("%.2f", @ft_total_protein) %> g</td>
        </tr>
        <tr>
            <td/>
            <td class="<%=@ft_f_part>0.20? 'red':'ok'%>"><%=number_to_percentage(@ft_f_part*100, :precision=>1) if @ft_f_part>0.15%></td>
            <td class="left">carb:</td>
            <!-- <td><%= number_to_percentage(@ft_c_part*100, :precision=>1) %></td> -->
            <td><%= sprintf("%.2f", @ft_total_carb) %> g</td>
        </tr>
    </table>
</div>
<% end %>
