<h1>Listing food_tracks</h1>
<div id="calendar"></div>

<table>
  <tr>
    <th class="left">Date</th>
    <th class="left">Food</th>
    <th>Weight</th>
    <th>Proteins</th>
    <th>Fat</th>
    <th>Carbs</th>
    <th>kCal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% 
#last_day=@food_tracks.first.nil? ? Date.today : @food_tracks.first.date.to_date
last_day=@food_tracks.first.nil? ? DateTime.new : @food_tracks.first.date.to_datetime
kcals = 0
fat = 0
%>
<tr class="new_ft"><td><h4><%= last_day.to_date %></h4></td></tr>
<% 
@food_tracks.each   do |food_track|
#    if last_day != food_track.date.to_date 
#puts food_track.date.to_datetime - last_day
    if food_track.date.to_datetime - last_day > Rational(1, 24) # 1 hour
%>
        <tr class="new_ft"><td colspan=7><a class="running_total"><%= sprintf("%.2f", kcals) %></a></td>
        <td class="<%=fat*9/kcals>0.15? 'red':'ok'%>"><%=number_to_percentage(fat*9/kcals*100, :precision=>1)%></td>
        </tr>
        <tr class="new_ft"><td><h4><%= food_track.date.to_date %></td></tr>
<% 
        kcals =0
        fat=0
    end
    kcals+=food_track.kcals
    fat+=food_track.fats
#    last_day = food_track.date.to_date
    last_day = food_track.date.to_datetime
%>
  <tr>
    <td class="left"><%= food_track.date.strftime("%H:%M") %></td>
    <td class="left"><%=link_to food_track.food.name, edit_food_track_path(food_track) %></td>
    <td><%= sprintf("%.0f",food_track.weight) %></td>
    <td><%= sprintf("%.2f", food_track.weight*food_track.food.protein/100) %></td>
    <td><%= sprintf("%.2f", food_track.weight*food_track.food.fat/100) %></td>
    <td><%= sprintf("%.2f", food_track.weight*food_track.food.carb/100) %></td>
    <td><%= sprintf("%.2f", food_track.weight*food_track.food.kkal/100) %></td>
    <td><%= link_to 'X', food_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<tr class="new_ft"><td colspan=7><a class="running_total"><%= sprintf("%.2f", kcals) %></a></td>
        <td class="<%=fat*9/kcals>0.15? 'red':'ok'%>"><%=number_to_percentage(fat*9/kcals*100, :precision=>1)%></td>
</tr>

<tr class="new_ft"><td/></tr>
<form id="add_food_track" method="post" autocomplete="off">
<tr class="new_ft">
    <td><input id="food_track_date" name="food_track[date]" size=5></td>
    <td><input id="food_name" name="food_track[food_name]" size=50></td>
    <td><input id="food_track_weight" name="food_track[weight]" size="5" type="text"/></td>
    <td><input type="submit" value="ok"/></td>
</tr>
</form>
</table>
</div>
<br />

<br />

<%= link_to 'New Food track', new_food_track_path %>

<%= render 'totals' %>
<%= render 'new_food_window' %>
<div id="dietdairy_div" class="group">
    <%= render 'dietdairy/dietdairydb' %>
</div>

