<!DOCTYPE html>
<html>
<head>
  <title>FoodCalc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @bg_class %>">

<%= yield %>

</body>
</html>
